@font-face {
    font-family: 'poppins';
    src: url("../fonts/Lato,Poppins,Rubik/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'poppins';
    src: url("../fonts/Lato,Poppins,Rubik/Poppins/Poppins-Medium.ttf")format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'poppins';
    src: url("../fonts/Lato,Poppins,Rubik/Poppins/Poppins-Bold.ttf")format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'poppins';
    src: url("../fonts/Lato,Poppins,Rubik/Poppins/Poppins-Black.ttf")format("truetype");
    font-style: normal;
    font-weight: 900;
}
